/* *{
  box-sizing: border-box
  margin: 0
  padding: 0
} */
.container{
  max-width: 1170px
  margin: auto
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
